
<!-- This is the launch file for a Pioneer-3DX Robot with either -->
<!-- a Hokuyo Laser or a SICK lms2XX Laser. -->

<launch>
  <arg name="HokuyoLaser" value="1"/>
  <arg name="SICKLMSLaser" value="0"/>
  <arg name="P2OS_Driver" value="1"/>
  <param name="includeFile" value="$(find p2os_launch)/launch/stage-worlds/pioneer3dx-hokuyo.world" type="str" /> 

  <include file="$(find p2os_urdf)/launch/pioneer3dx_urdf.launch"/>

  <group if="$(arg HokuyoLaser)">
  	<node pkg="stage_ros" type="stageros" name="stageros" args="$(find p2os_launch)/launch/stage-worlds/pioneer3dx-hokuyo.world" />
  </group>

  <group if="$(arg SICKLMSLaser)">
  	<node pkg="stage_ros" type="stageros" name="stageros" args="$(find p2os_launch)/launch/stage-worlds/pioneer3dx-sick.world" />
  </group>
</launch>
