<launch>
	<!-- publish the required transform /base_link -> /laser -->
	<include file="$(find p2os_launch)/launch/tf_base_link_to_laser.launch" />
	
	<!-- assuming we're using a hokuyo laser, start up the hokuyo node -->
	<include file="$(find p2os_launch)/launch/hokuyo.launch" />

	<!-- if you use a sicklms instead of a hokuyo laser: -->
	<!-- <include file="$(find p2os_launch)/sicklms.launch" /> -->
</launch>
